<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeleVsearch</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">    
    <!-- custom css -->
    <link rel="stylesheet" href="css/index_style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <h1 style="font-size:5vw;">TeleVsearch</h1>
      <h3 style="font-size:2vw;">Enter the title of your favorite show!</h3>
       <br>
      <form method="post" action="/result">
        <input type="text" name="name" size="50">
        <button type="submit" value="submit">Submit</button>
      </form>
    </div>
    
  </body>
</html>
