html,
body {
	width: 100%;
	height: auto;
}

body {
	background-image: url(http://www.simpsoncrazy.com/content/pictures/onetimers/simpsons-tv.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div{
    padding-top: 50px;
    margin-left: 100px;
}


#image{
    /*left: 200px;*/
}

#info{
   right: 200px;
}
h1,h3{
	font-family: 'Press Start 2P', cursive;
	color:white;
}

h1{
	font-size: 50px;
}

h3{
	font-size: 30px;
}


h4,h5{
    color:white;
}
