html,
body {
	width: 100%;
	height: auto;
}

body {
	background-image: url(http://www.simpsoncrazy.com/content/pictures/onetimers/simpsons-tv.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div{
    height:25%;
    width: auto;
    padding-top: 50px;
    margin-left: 100px;
}

#image{
    bottom:125px;
}

#info{
   bottom: 140px;
}

h1,h2,h3,h4,h5 {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

h4{
    color:#cc99ff;
}
